input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-3px 17px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox.png) -26px top no-repeat;
}

input[type=text],
textarea{
	border: 1px solid #a8a8a8!important;
}