@font-face {
	font-family: 'MuseoSans-500';
	src: url('../fonts/museo/293174_0_0.eot');
	src: url('../fonts/museo/293174_0_0.eot?#iefix') format('embedded-opentype'),
	url('../fonts/museo/293174_0_0.woff') format('woff'),
	url('../fonts/museo/293174_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli/muli-regular-webfont.eot');
    src: url('../fonts/muli/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/muli/muli-regular-webfont.woff') format('woff'),
         url('../fonts/muli/muli-regular-webfont.ttf') format('truetype'),
         url('../fonts/muli/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, h5 {
	font-family: 'muliregular', Helvetica, Arial, sans-serif;
	overflow: auto;
	-webkit-text-size-adjust: none;
}

body {	
  	padding-top: 50px;
  	overflow: auto;
  	-webkit-text-size-adjust: none;
}

p {
	font-size: 0.85em;
}

button {
	background: black;
	color: white;
	padding: 2px 15px;
	border: 0;
}

.logo a {
	font-family: 'MuseoSans-500', Helvetica, Arial, sans-serif;; ;
	float: left;
	width: 28%;
	text-align: center;
	color: #3e3e3e;
	letter-spacing: 6px;
	margin-top: 9px;
}

.logo a:hover {
	text-decoration: none;
	color: black;
}

.carousel {
	padding-top: 80px;
	height: 100%;
}

.carousel,
.carousel-inner {
	width: 100%;
	text-align: center;	
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;	
}

.carousel-inner {
	top:65px;
	height: 100%;
}

.carousel img.portrait  {
	width: auto;
  	height : auto;
	display: inline-block;
	margin: 0 auto;
}

.carousel img.twoimages:first-child {
	margin-right: 5px;
}

.carousel img.landscape {
	display: inline-block;
	margin: 0 auto;
}

.carousel .image-name,
.carousel .image-count {
	color: #787878;
	font-size: 11px;
}

.carousel .of {
	font-size: 10px;
}

.navbar-fixed-bottom .personal-details {
	float: right;
	color: #787878
}

.navbar-fixed-bottom .personal-details span{
	border-left: 1px solid #a8a8a8;
	padding: 0 20px;
}

#left-nav {
	float: left;
	width: 36%;
}

#left-nav ul {
	float: right;
}

#right-nav {
	float: right;
	width: 36%;
}

#pdfcreator {
	position: absolute;
	right: 82px;
	top: 32px;
	font-size: 0.73em;
}

#pdfcreator a {
	color: #787878;
}

.thumbnail-toggle {
	z-index: 2000;
	position: fixed;
	bottom: 7px;
	left: 85px;
	width: 18px;
	height: 20px;
	background: url(../images/thumbnail-icon.png) no-repeat -43px -10px;
}

.thumbnail-toggle:hover {
	background: url(../images/thumbnail-icon.png) no-repeat -22px -10px;
}


.thumbnail-toggle a {
	width: 100%;
	height: 100%;
	display: block
}

.thumbnail-toggle.current {
	background: url(../images/thumbnail-icon.png) no-repeat -66px -10px;
}

.image-name {
	position: absolute;
	bottom: 75px;
	left: 190px;
	width: auto;
	z-index: 10000;
	padding: 0 20px;
}

.home .image-name{
	left: 143px;
}

.image-count {
	position: absolute;
	bottom: 75px;
	left: 115px;
	width: auto;
	z-index: 10000;
	padding: 0 20px;
}

.home .image-count {
	left: 73px;
}

.current-menu-item a{
	text-decoration: underline;;
	color: #333333!important;
}

/***** COPY *****/

.copy {
	width: 50%;
	margin: 0 auto;
	letter-spacing: 2px;
	line-height: 25px;
}

.copy p {
	margin-bottom: 30px;
}

/***** FORM *****/

.form {
	margin: 0 auto;
}

.form input[type="text"] {
	width: 100%;
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #a8a8a8!important;
}

.form textarea {
	width: 100%;
	height: 140px;
	padding: 5px;
	overflow: auto;
  	-webkit-overflow-scrolling: touch
}

.form input[type="submit"] {
	width: 100%;
	height: 45px;
	background: #3e3e3e;
	border: none;
	color: white;
	margin-top: 30px;
	letter-spacing: 3px;
}
	
/**** THUMBNAILS ****/

.thumbnails {
	width: 99%;
	margin: 0 auto;	
	overflow: auto;
	position: relative;
	margin-top: 25px;
}

.thumbnails #thumbnail-images {
	width: 100%;
	overflow: auto;
	margin-top: 10px;
	margin-bottom: 40px;
} 

.thumbnails #thumbnail-images #thumbnail-items {
	padding: 0px 10px;
}

.thumbnails #thumbnail-images h5 {
	border-bottom: 1px solid #ebebeb;
	padding: 25px 0 10px 0;
}

.thumbnails #thumbnail-images .image {
	float: left;
	margin-right: 5px;
	position: relative;
	margin-top: 5px;
	cursor: pointer;
	height: 130px;
} 

.thumbnails #thumbnail-images .overlay {
	opacity: 0.5;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #898f93;
} 

.thumbnails #thumbnail-images .overlay img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
}

.thumbnails #thumbnail-images .image:first-child {
	margin-left: 0;
} 

.thumbnails #thumbnail-images img {
	border: 1px solid white;
}

.thumbnails #thumbnail-images img:hover {
	opacity: 0.5;
	border: black 1px solid;
}

.thumbnails #thumbnail-images .image a:hover {
	
}

.container .thumbnails:first-child {
	margin-top: 70px;
}

.close-thumbnails {
	position: absolute;
	right: 30px;
	top: 34px;
	width: 90px;
}

.close-thumbnails span {
	width: 55px;
	display: inline-block;
	text-align: right;
	line-height: 12px;
	font-size: 10px;
	line-height: 14px;
}

.close-thumbnails img {
	position: absolute;
	top: 0;
	right: 0;
}

/**** PDF ****/

#createpdf {
	position: absolute;
	top: 90px;
	right: 0;
	width: 475px;
	font-size: 11px;
	text-transform: uppercase;
}

#createpdf .content {
	float: left;
	width: 190px;
	margin-right: 20px;
}

#createpdf a {
	float: left;
	padding: 7px 20px;
	background: black;
	margin: 0 10px;
}

/**** CONTACT ****/

#contact {
	margin: 2% auto 50px auto;
	width: 35%;
}

#contact #error {
	margin: 0 auto;	
	padding: 10px 0;
	color: white;
}

#contact #error ul {
	background: #3e3e3e;
	padding: 10px 40px;
}

input[type="checkbox"] {
    float:left;
    margin-right: 5px;
}


#contact .details {
	padding: 40px 0 20px 0;
	overflow: auto;
	font-size: 15px;
}

#contact .details a {
	color: #333333;
	letter-spacing: 1px;
}

#contact .details span{
	width: 50%;
	height: 16px;
	font-size: 13px;
}

.thumbstxt {
	font-size: 12px;
	position: absolute;
	left: 127px;
	bottom: 8px;
	color: #787878;
	width: 51px;
}

#arrow-right {
	display: none;
}

#arrow-left {
	display: none;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-3px 17px 0 0;
    vertical-align:middle;
    background:url(../images/checkbox.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/checkbox.png) -26px top no-repeat;
}

input[type=text],
textarea{
	border: 1px solid #a8a8a8!important;
}

@media only screen and (min-width: 767px) {

	#arrow-left,
	#arrow-right {
		display: none!important;
	}

	#mobile-nav { 
		display: none!important;
	}

	.navbar-fixed-bottom {
		height: 36px;
		padding: 10px 64px;
	}

	.navbar-fixed-bottom .line-left{
		border-left: 1px solid #a8a8a8;
		height: 15px;
		position: absolute;
		left: 115px;
	}

	.navbar-fixed-bottom .line-right{
		border-left: 1px solid #a8a8a8;
		height: 15px;
		position: absolute;
		left: 190px;
	}

	.home .navbar-fixed-bottom .line-right {
		left: 150px;
	}

	.home .navbar-fixed-bottom .line-left {
		left: 70px;
	}

	.carousel-nav .image-total {
		float: left;
		border-left: 1px solid #a8a8a8;
		border-right: 1px solid #a8a8a8;
		padding: 0 20px;
	}	

	.copy {
		margin-top: 10%;
		letter-spacing: 1px;
	}

	.arrow-left {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
	}

	.arrow-left img {
		position: absolute;
		top: 45%;
		left: 25px;
	}

	.arrow-right img {
		position: absolute;
		top: 45%;
		right: 25px;
	}

	.arrow-right {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 90%;
	}

	.arrow-left a,
	.arrow-right a {
		display: block;
		height: 100%;
		width: 100%;
	}

	.arrow-right a{
		cursor: url(../images/arrow-right.png), auto; 
	}

	.arrow-left a{
		cursor: url(../images/arrow-left.png), auto; 
	}

	.navbar-nav {
		font-size: 0.73em;
	}

	.navbar-brand {
		font-size: 1.8em;
		padding: 9px 0;
	}

	.logo a {
		letter-spacing: 4px;
		margin-top: 6px;
	}

	.personal-details {
		font-size: 11px;
	}

	.form textarea {
		height: 100px;
	}

	.form input[type="submit"] {
		margin-top: 20px;
	}

	#contact .details {
		padding: 30px 0 20px 0;
	}
}

@media only screen and (max-width: 767px) and (orientation:portrait) {

	.carousel img.landscape {
		margin-top: 22%;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {

	.image-count {
		bottom: 94px;
	}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

	.thumbstxt {
		left: 53px;
	}
}

@media only screen and (max-width: 767px) {

	.container {
		font-size: 12px;
	}

	.nav > li {
	  width: 50%;
	  float: left;	  
	  border-bottom: 1px solid #ebebeb;
	  border-right: 1px solid #ebebeb;
	}

	.nav > li:nth-child(2n) {
		border-right: none;
	}

	.nav {
		border-top: 1px solid #ebebeb;
		text-align: center;
		font-size: 0.95em;
	}

	.arrow-left {
		position: fixed;
		left: 28px;
		bottom: 40px;
		z-index: 2000;
	}

	.arrow-right {
		position: fixed;
		right: 28px;
		bottom: 40px;
		z-index: 2000;
	}

	.image-name {
		bottom: 10px;
		left: 50px;
		position: fixed;
		border-left: none;
	}

	.carousel-nav .image-total {
		position: absolute;
		top: 45px;
		right: 90px;
	}

	.carousel-nav .personal-details {
		display: none;
	}

	.personal-details {
		margin: 0 auto;
		width: 305px;
		float: none!important;
		font-size: 11px;
		margin-top: 10px;
	}

	.navbar-fixed-bottom .personal-details span {
		padding: 0 10px;
	}

	.thumbstxt {
		position: absolute;
		left: 50%;
		bottom: 8px;
		color: #787878;
		width: 51px;
		margin-left: -25px;
	}


	#carousel.personal-details, 
	.personal-details span.copyright,
	#right-nav,	
	#left-nav,
	#pdfcreator {
		display: none;
	}

	.carousel img.landscape {
		height: auto!important;
		max-height: 215px!important;
	}

	.copy {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.form {
		width: 80%;
		height: 430px;
	}

	.logo {
		width: 170px;
		margin: 0 auto;
		float: none;
		padding-top: 4px;
	}

	.logo a {
		width: 100%;
		font-size: 1.5em;
		letter-spacing: 1.5px;
	}

	.thumbnails #thumbnail-images h5 {
		padding: 23px 0 12px 16px;
	}

	.navbar-brand {
		line-height: 25px;
		margin-top: 0px!important;
	}

	#createpdf {
		padding: 10px 20px 0 20px;
		width: 100%;
		font-size: 11px;
		text-transform: uppercase;
		margin: 0 auto;
		overflow: auto;
		position: relative;
		top: 0;
	}

	#createpdf .content {
		float: left;
		width: 50%;
		margin-right: 5px;
	}

	#createpdf a {
		float: left;
		padding: 7px 11px;
		background: black;
		margin: 0 10px;
	}

	.thumbnail-toggle {
		position: fixed;
		top: 3px;
		left: 20px;
		bottom: 0;
		height: 26px;
		width: 26px;
		background: url(../images/thumbnail-icon.png) no-repeat -89px 0px;
	}

	.thumbnail-toggle:hover {
		background: url(../images/thumbnail-icon.png) no-repeat -89px 0px;
	}

	.thumbnail-toggle.current {
		width:20px;
		background: url(../images/thumbnail-icon.png) no-repeat -65px 0px
	}

	.thumbnails {
		margin-top: 10px;
	}

	.image-count {
		bottom: 10px;
		left: 50%;
		position: fixed;
		border-left: none;
		margin-left: -40px;
	}

	.copy {
		width: 80%;
	}

	.navbar-fixed-bottom {
		letter-spacing: 1px;
	}

	#contact {
		width:100%
	}

	.copy p {
		margin-bottom: 15px;
	}

	.copy {
		letter-spacing: 1px;
		line-height: 20px;
	}

	.form .details {
		display: none;
	}

	.form textarea {
		height: 100px;
	}

	.form input[type="submit"] {
		margin-top: 20px;
	}

	label {
		margin-top: 5px;
	}

	.navbar-fixed-top {
		height: 45px;
	}

	.navbar-toggle {
		padding: 4px 10px;
	}

	.carousel-inner {
		top: 45px;
	}

	.thumbnails #thumbnail-images {
		margin-top: -12px;
	}

	.close-thumbnails {
		top: 7px;
		right: 14px;
	}

	#arrow-right {
		display: block;
		position: absolute;
		right: 15px;
		top: 7px;
	}

	#arrow-left {
		display: block;
		position: absolute;
		left: 15px;
		top: 7px;
	}

	input[type="checkbox"] + label span {
	    margin:-3px 5px 0 0;
	}
}


@media only screen and (max-width: 767px) and (orientation:landscape) {

	.carousel img.landscape {
		max-height: 250px!important;
	}
}

@media (min-width:768px) and (max-width:924px) {
	
	.navbar-nav > li {
		margin: 0 0.5em;
	}

	.navbar-brand {
		font-size: 1.8em;
	}

	#contact .details span {
		font-size: 10px;
	}
}

@media (min-width:1024px) and (max-width:1024px) {
	
	#pdfcreator {
		right: 15px;
	}

	.navbar-fixed-bottom {
		padding: 10px 0px;
	}

	#contact {
		margin: 5% auto 50px auto;
	}
}

@media (min-width: 1400px) {

	.navbar-fixed-bottom .line-left,
	.navbar-fixed-bottom .line-right {
		height: 20px;
	}

	#contact .details span {
		font-size: 15px;
	}

	.navbar-fixed-top {
		height: 80px;
	}

	.navbar-nav > li {
    	padding-top: 14px;
  	}

	.container > .navbar-header, .container > .navbar-collapse {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		margin: 12px 0;
		position: relative;
	}

	.navbar-fixed-bottom {
		padding: 10px 64px;
	}

	.thumbnail-toggle {
		bottom: 13px;
	}

	.carousel-inner {
		top: 80px;
	}

	.image-name ,
	.image-count {
		bottom: 93px;
		font-size: 14px;
	}

	.navbar-nav > li {
		float: left;
		margin: 0 6em;
		padding-top: 11px;
	}

	#contact {
		margin: 8% auto 50px auto;
	}

	.copy {
		margin-top: 18%;
	}

	.copy p {
		font-size: 0.95em;
	}
	
	label {
		margin: 20px 0 10px 0;
	}

	.form input[type="text"] {
		margin-bottom: 10px;
	}

	#pdfcreator {
		top: 39px;
	}

	.image-count {
		bottom: 89px;
	}

	.image-name {
		bottom: 88px;
	}

	.thumbnail-toggle {
		bottom: 4px;
	}

	.thumbstxt {
		bottom: 6px;
	}

}

@media (min-width: 1800px) {
	.navbar-nav > li {
		margin: 0 7.3em;
	}  

	#contact {
		width: 25%;
	}

	.copy {
		width: 40%;
	}
	
	.carousel .image-name,
	.carousel .image-count {
		color: #787878;
		font-size: 14px;
	}

	#pdfcreator,
	.navbar-nav {
		font-size: 0.85em;
	}

	.personal-details {
		font-size: 14px;
	}

	.navbar-brand {
		font-size: 2.3em;
	}

	.logo a {
		letter-spacing: 6px;
	}

	.image-name,
	.image-count {
		bottom: 85px;
	}

}

@media (min-width:768px) and (max-width:768px) {
	.navbar-nav > li {
		margin: 0 2em;
	}

	#pdfcreator {
		right: 10px;
	}

	.navbar-fixed-bottom {
		padding: 10px 0px;
	}

	.thumbnail-toggle {
		left: 15px;
	}

	.navbar-fixed-bottom .line-left {
		left: 46px;
	}

	.image-count {
		left: 43px;
	}

	.navbar-fixed-bottom .line-right {
		left: 111px;
	}

	.image-name {
		left: 110px;
	}

	#contact {
		width: 55%;
		margin: 10% auto 50px auto;
	}

	#contact .details span {
		font-size: 14px;
	}

	.navbar-fixed-bottom .personal-details span {
		padding: 0 10px;
	}

	.carousel img.landscape {
		max-height: 490px;
		margin-top: 20%;
	}
}

.carousel-fade .carousel-inner .item {
  	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	opacity:0;
  	height: 100%;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}


/* PDF */

.pdf {
	float: left;
	width: 100%;
}

.pdf h5 {
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 10px;
} 

.pdf .item {
	float: left;
	height: 138px;
	position: relative;
	cursor: pointer;
}

#pdf-email {
	position: absolute;
	top: 100px;
	right: 98px;
	width: 295px;
}

#pdf-email .content {
	width: 207px;
	float: left;
	padding-right: 20px;
	line-height: 13px;
	font-size: 12px;
}

.pdf .item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/image-selected.png) center no-repeat;
}

.pdf .opacity {
	opacity: 0.8;
} 

#emailForm .close-thumbnails {
	top: 15px;
	right: 35px;
}

#emailForm .header {
	padding: 10px 10px 5px 35px;
	border-bottom: 1px solid #ebebeb;
}

#emailForm h3 {
	margin-top: 10px;
}

#emailForm form {
	padding: 10px 35px 25px 35px;
}

#emailForm  .form textarea {
	min-height: 100px;
}

.scrollBar
{
	width:10px; /* Set the width of the scrollbar */	
	border-radius:5px; /* Remove if you want square corners*/	
	background-color: #ccc; /* Set the scrollbar color*/	
	transition: opacity 0.3s linear; /* Mouseover delay */	
}